<nav class="nav">
  <a class="nav-link active" href="#">Everyleaf Task</a> 
</nav>
<hr>
<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
