<nav class="nav">
  <a class="nav-link active" href="#"><strong>Everyleaf Task</strong></a>
  
</nav>
<hr class="border border-dark">
<h1 style="text-align:center;">Editing Label</h1>

<%= render 'form', label: @label %>

<%= link_to 'Show', @label %> |
<%= link_to 'Back', labels_path %>
