// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
    
    float:right;
    width:40%;
    margin-top:150px;
    margin-right:600px;
    padding:10px
}
.nav-link{

    float:right;
    margin-top:15px;
    margin-right:60px;
}

.btn-outline-success{
    float:right;
    margin-top:100px;
    padding:8px;
    margin-right:50px;
} 


.card text-center{
    margin-left:80px;
}